<header id='navBar'>
    <nav>
        <div id="navBarBrand">
            <a class="navLink" title="Слава Україні!" href="/">{{ site.name }}</a>
        </div>
        <div id="navBarBody">
            <menu id="topLevelNavMenu">
                <li>
                    <a class="navLink" href='/' title='Return to the main page.'>Home</a>
                </li>
                <li>
                    <a class="navLink"  href='//waellison.blog' title='I have another blog, you know.'>Boring Technical Shit</a>
                </li>
                <li>
                    <a class="navLink"  href='//waellison.io/portfolio' title='Check out my portfolio!'>Code I've Written</a>
                </li>
            </menu>
        </div>
    </nav>
</header>
